PUBLIC_SITE_URL=https://kir4che.com

DEFAULT_POST_PASSWORD=your-post-password

BANGUMI_USERNAME=your-bangumi-username

UPSTASH_REDIS_REST_URL=https://your-upstash-redis-rest-url
UPSTASH_REDIS_REST_TOKEN=your-upstash-redis-rest-token

GOOGLE_SITE_VERIFICATION=your-google-site-verification-code