@layer base {
  :root {
    --hl-yellow: 255, 218, 139; /* #ffda8b */
    --hl-green: 184, 255, 175; /* #b8ffaf */
    --hl-pink: 255, 178, 197; /* #ffb2c5 */
    --hl-blue: 175, 215, 255; /* #afd7ff */
  }

  .dark {
    --hl-yellow: 153, 115, 0;
    --hl-green: 40, 100, 45;
    --hl-pink: 160, 50, 80;
    --hl-blue: 35, 75, 135;
  }

  article hr {
    @apply mx-auto my-8 w-24 text-gray-300 dark:text-gray-700;
  }
}

@layer components {
  .mdx-content {
    @apply py-2 text-base leading-[1.85];

    > p,
    > ul,
    > ol,
    > blockquote {
      @apply my-2;
    }

    h1,
    h2 {
      @apply -ml-4 border-l-4 border-pink-700 pl-3 md:-ml-6 md:pl-5 dark:border-pink-500;
    }

    h1 {
      @apply mt-10 mb-4;
    }

    h2 {
      @apply mt-8 mb-4;
    }

    h3 {
      @apply mt-6 mb-3;
    }

    h4 {
      @apply mt-6 mb-3;
    }

    h5 {
      @apply mt-5 mb-2;
    }

    h6 {
      @apply mt-4 mb-1 text-gray-600 dark:text-gray-300;
    }

    p > a + a {
      @apply ml-2;
    }

    img {
      @apply rounded-md;
    }

    > img,
    > .images,
    > figure {
      @apply mx-auto my-4;
    }

    p img {
      @apply inline-block align-middle;
    }

    ul,
    ol {
      @apply pl-4;

      > li {
        @apply my-2;

        &:has(> pre, > blockquote, > table, > img, > ul, > ol, > figure, > .images) {
          @apply m-4;
        }
      }
    }

    ul {
      @apply list-disc;

      ul {
        @apply list-[square];
      }
    }

    ol {
      @apply list-decimal;

      ol {
        @apply list-[lower-alpha];
      }
    }

    blockquote {
      @apply my-6 border-l-6 border-pink-500 bg-pink-200/15 p-4 text-gray-700 dark:border-pink-500/85 dark:bg-pink-400/5 dark:text-gray-300;
    }

    code {
      @apply font-mono text-sm;

      &:not(pre code) {
        @apply rounded bg-gray-100 px-1.5 py-0.5 text-sm text-pink-800 dark:bg-gray-800 dark:text-pink-300;
      }
    }

    .expressive-code {
      @apply my-4;
    }
  }
}
