@layer base {
  :root {
    --hl-yellow: 255, 218, 139; /* #ffda8b */
    --hl-green: 184, 255, 175; /* #b8ffaf */
    --hl-pink: 255, 178, 197; /* #ffb2c5 */
    --hl-blue: 175, 215, 255; /* #afd7ff */
  }

  .dark {
    --hl-yellow: 153, 115, 0;
    --hl-green: 40, 100, 45;
    --hl-pink: 160, 50, 80;
    --hl-blue: 35, 75, 135;
  }

  article hr {
    @apply mx-auto my-8 w-24 text-gray-300 dark:text-gray-700;
  }
}

@layer components {
  .mdx-content {
    @apply text-base leading-[1.85];

    > p,
    > ul,
    > ol,
    > blockquote {
      @apply my-5;
    }

    h1,
    h2 {
      @apply mt-10 mb-4 -ml-4 border-l-4 border-pink-700 pl-3 md:-ml-6 md:pl-5 dark:border-pink-500;
    }

    h3,
    h4 {
      @apply mt-8 mb-3;
    }

    h5,
    h6 {
      @apply mt-6 mb-2;
    }

    p > a + a {
      @apply ml-2;
    }

    img {
      @apply rounded-md;
    }

    > img,
    > figure {
      @apply mx-auto my-6;
    }

    p img {
      @apply inline-block align-middle;
    }

    ul,
    ol {
      @apply pl-4;

      > li {
        @apply my-2;
      }
    }

    ul {
      @apply list-disc;

      ul {
        @apply list-[square];
      }
    }

    ol {
      @apply list-decimal;

      ol {
        @apply list-[lower-alpha];
      }
    }

    blockquote {
      @apply border-l-6 border-pink-500 bg-pink-100/60 py-2 pl-4 dark:bg-pink-700/20;
    }

    code {
      @apply font-mono text-sm;

      &:not(pre code) {
        @apply bg-gray-100 px-1 text-pink-900 dark:bg-gray-300/20 dark:text-pink-400;
      }
    }

    .expressive-code + .expressive-code {
      @apply mt-4;
    }

    li {
      .expressive-code {
        @apply my-3;

        & + .expressive-code {
          @apply mt-4;
        }
      }
    }
  }
}
