.articleContent {
  & blockquote p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  & a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }

  & ul ul {
    list-style-type: circle; /* 第二層：空心 */

    & ul {
      list-style-type: square; /* 第三層：方塊 */
    }
  }

  & code {
    font-family:
      ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
      'Courier New', monospace;
    font-size: 0.875rem;
    line-height: 1.25rem;

    &:not(pre code) {
      background-color: rgba(243, 244, 246, 0.8);
      padding: 0.125rem 0.25rem;
      font-family: inherit;
      color: #881337; /* pink-900 */
    }
  }
}

:global(.dark) .articleContent code:not(pre code) {
  background-color: rgba(204, 204, 204, 0.2);
  color: #fec4d1; /* pink-300 */
}
