/* 置中卡片的容器 */
.cardContainer {
  --card-aspect: 0.727;
  --card-radius: 5% / 4%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  min-height: 50vh;
}

.card,
.rotator {
  aspect-ratio: var(--card-aspect);
  border-radius: var(--card-radius);
}

/* 卡片本身 */
.card {
  position: relative;
  width: 245px;
  /* 透視深度，數值越小，透視變形的效果越強 */
  perspective: 600px;
  /* 讓裡面的子元素都位於 3D 空間 */
  transform-style: preserve-3d;
  /* 利用 translateZ 強制啟用硬體加速，建立獨立的渲染層以提升動畫流暢度 */
  transform: translateZ(0.1px);
  /* 提前告知瀏覽器哪些屬性將會變動，以便進行效能優化 */
  will-change: transform, visibility, z-index;
}

/* 實際執行 3D 旋轉的元素 */
.rotator {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  transform-style: preserve-3d;
  transform-origin: center; /* 旋轉的基準點 */
  /* 讓卡片執行 3D 旋轉 */
  transform: rotateY(var(--rotate-y, 0)) rotateX(var(--rotate-x, 0));
  box-shadow: 0 20px 20px -15px rgba(8, 14, 35, 0.5);
  transition: transform var(--rotator-transition, 180ms)
    cubic-bezier(0.22, 1, 0.36, 1);
  will-change: transform, box-shadow;
}

.glare {
  position: absolute;
  inset: 0;
  overflow: hidden;
  mix-blend-mode: overlay;
  border-radius: var(--card-radius);
  transform: translateZ(1.5px);
  /* 眩光本體 */
  background-image: radial-gradient(
    farthest-corner circle at var(--pointer-x, 50%) var(--pointer-y, 50%),
    hsla(0, 0%, 100%, 0.8) 10%,
    hsla(0, 0%, 100%, 0.65) 20%,
    hsla(0, 0%, 0%, 0.5) 90%
  );
  opacity: var(--glare-opacity, 0);
  transition: opacity var(--glare-transition, 300ms) ease-out;
  pointer-events: none; /* 讓滑鼠可以穿透這層 */
  will-change: opacity, background-image;
}
